<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="container">
        <!--<script type="text/javascript" src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>-->
        <footer class="text-muted">
            <div class="container">
                <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
            </div>
            <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
        </footer>
    </div>

</div>
</body>
</html>